html, body {
  background: #fff;
  font-family: "Exo 2", sans-serif;
  overflow-x: hidden;
}

header {
  margin: 20px 10px 10px;
}
header .logo {
  font-family: "Rajdhani", sans-serif;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 37px;
  letter-spacing: 3px;
  color: #555555;
  display: block;
  position: relative;
}
header .logo .dotCom {
  color: #4CAF50;
}
header .tagLine {
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
}

button:focus,
input:focus {
  outline: none;
}

.modallogo {
  font-family: "Rajdhani", sans-serif;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 37px;
  letter-spacing: 3px;
  color: #555555;
  display: block;
  position: relative;
}
.modallogo .dotCom {
  color: #4CAF50;
}

.btn.login {
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4CAF50;
  color: #ffffff;
  border: 1px solid #4CAF50;
  transition: 0.5s ease-out;
}

.btn.close {
  font-size: 16px;
  padding: 10px;
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #666666;
  color: #ffffff;
  border: 1px solid #666666;
  text-shadow: none;
  transition: 0.5s ease-out;
}

.btn.close:hover,
.btn.login:hover {
  transition: 0.5s ease-in;
  opacity: 0.7;
}

.primary-button {
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  background-color: #4CAF50;
  color: #ffffff;
  padding: 4px 5px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

a.secondary-button {
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #666666;
  color: #ffffff;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.primary-button:hover,
a.secondary-button:hover {
  opacity: 0.8;
  transition: 0.5s ease-out;
}

.btnGroup {
  margin: 20px;
}

.menuStrip {
  position: relative;
  z-index: 4;
  background-color: #4CAF50;
}
.menuStrip nav ul li a {
  padding: 16px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: lighter;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  transition: 0.5s ease-out;
}
.menuStrip nav ul li a:hover {
  color: #4CAF50;
  background-color: #ffffff;
  transition: 0.5s ease-in;
}
.menuStrip .plainGreen {
  padding: 16px;
  color: #ffffff;
  background-color: #4CAF50;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: lighter;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  transition: 0.5s ease-out;
}
.menuStrip .plainGreen:hover {
  color: #4CAF50;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.menuStrip .dropdown-menu {
  color: #ffffff;
  background-color: #4CAF50;
}
.menuStrip .dropdown-menu a.dropdown-item {
  font-size: 14px;
}

.logo a {
  text-decoration: none;
  color: #666666;
}

.middel {
  position: absolute;
  top: 50%;
  bottom: 50%;
}

.fourofour {
  font-size: 200px;
  color: #4CAF50;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}

.speach {
  font-family: "Exo 2", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
}

.codeInut {
  background-color: #333333;
  color: #ffffff;
  height: 100px;
}

.formCard {
  padding: 20px;
  margin-top: 20px;
}

footer {
  background-color: #666666;
  color: #ffffff;
  padding: 20px;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 14px;
}

h1 {
  font-family: "Rajdhani", sans-serif;
  color: #666666;
}

p {
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
