<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="fourofour">404</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="speach">The page you are looking for is missing in action.</h3>
    </div>
  </div>
</div>
