<div class="container" style="margin: 10% auto;">
  <div class="row">
    <div class="col-12">
      <h2 class="speach">Authentication error </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="speach">PLease try again.</h3>
    </div>
  </div>
</div>
