<div class="container text-center">
  {{#if loggedIn}}
    <h1 class="display-3">NodeJS design requiements.</h1>
    <div class="alert alert-success " role="alert">
      <span class="font-weight-bold">Use NodeJs for implementation.</span><br/>
      Made use of Handlebars as the viewing engine.
    </br/>
    </div>
    <div class="alert alert-warning" role="alert">
      <span class="font-weight-bold">Crud operations for ‘Programming Language’ , ‘Lesson’ ,’Example’.</span><br/>
      These can be tested via Postman:</br/>
      http://localhost:81/languages/create</br/>
      http://localhost:81/lessons/create</br/>
      http://localhost:81/examples/create</br/>
      http://localhost:81/languages/get</br/>
      http://localhost:81/lessons/get</br/>
      http://localhost:81/examples/get</br/>
      http://localhost:81/languages/-language-ID-/update</br/>
      http://localhost:81/lessons/-lesson-ID-/update</br/>
      http://localhost:81/examples/-example-ID-/update</br/>
      http://localhost:81/languages/-language-ID-/delete</br/>
      http://localhost:81/lessons/-lesson-ID-/delete</br/>
      http://localhost:81/examples/-example-ID-/delete</br/><br/>

      <span class="font-weight-bold">I do have a concession though:</span><br/>
      Via Postman all works perfectly. Unfortunatly I cant say the same about the update and delete functionality via the front-end.
      I blame all of this on my lack of experience in dealing with NodeJS and Handlebars. Unfortunalty I just dont have enough time to figure out.
    </br/>

    </div>
    <div class="alert alert-success" role="alert">
      <span class="font-weight-bold">Use MongoDB for persistence layer.</span><br/>
      Made use of Mlabs.
    </br/>
    </div>
    <div class="alert alert-success" role="alert">
      <span class="font-weight-bold">Service will be stateless</span><br/>
      That is correct.
    </br/>
    </div>
    <div class="alert alert-success" role="alert">
      <span class="font-weight-bold">The service should be secured with JWT.</span><br/>
      Made use of Auth0.
    </div>
    <div class="alert alert-success" role="alert">
      <span class="font-weight-bold">Add suitable UI for this business flow using (Saas, Html5).</span><br/>
      I hope this works.
    </div>
  {{else}}
    <h1 class="display-3">Hello and welcome!</h1>
    <p>This here is my attempt at completing your assessment. Dont judge to harshly ;).</p>

    <p>
      Please login with the credentials below by clicking on the link in the top right-hand corner.
    </p>
    <div>
      <hr class="my-2">
      <p>
        Email : dummyuser@exmaple.com<br />
        Password : P@$$w0rd!@#
      </p>
    </div>
  {{/if}}
</div>
