<h1 class="display-4">Languages</h1>
<div class="card-columns">
  {{#each languagesDD}}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ this.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ this.introduction }}</h6>
        <div class="btnGroup">
          <a href="/updatelanguage" class="btn btn-info">Update</a>
          <a href="#" class="btn btn-danger" onclick="passData()" data-id={{ this._id }} data-name={{ this.name }} data-toggle="modal" data-target="#deleteModal">Delete</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script>
  function passData() {
    document.getElementById("deleteName").innerHTML = document.getElementById("deleteEexmaple").getAttribute('data-name');
    document.getElementById("deleteID").innerHTML = document.getElementById("deleteEexmaple").getAttribute('data-id');
  }
</script>
